
.a{
    -fx-background-image: url("../imagenes/inicio.jpeg");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-color:transparent
}

#input{
    -fx-background-color: brown;
    -fx-border-color: black;
    -fx-border-radius: 15;
    -fx-border-width: 5;
    -fx-padding: 0,10,10,10;
}

#inner{
    -fx-padding: 10;
}

.titulo{
    -fx-text-fill: whitesmoke;
    -fx-font-size: 20;
}

.descripcion{
    -fx-text-fill: whitesmoke;
    -fx-font-size: 14;
}

.nombreJuego{
    -fx-max-width: "infinity";
    -fx-alignment: "center";
    -fx-font-size: 24;
    -fx-padding: 10;
    -fx-background-color: "red";
}

.labelNombreJugador{
    -fx-font-size: 14;
    -fx-padding: 5;
    -fx-text-fill: white
}

.textFieldNombreJugador{
    -fx-font-size: 14;
    -fx-padding: 5;
}

.button{
    -fx-background-radius: 3,2,1;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}