
.red{
    -fx-image: url("/vista/imagenes/PlazaCentral_red.png");

}

.blue{
    -fx-image: url("/vista/imagenes/PlazaCentral_blue.png");
}

.red-construccion{
    -fx-image: url("/vista/imagenes/PlazaCentral_red.png");
}

.blue-construccion{
    -fx-image: url("/vista/imagenes/PlazaCentral_blue.png");
}

ImageView{
    -fx-alignment: stretch;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

Image{
    -fx-fit-to-width: true;
}