GridPane:hover{
    -fx-border-width: 2;
    -fx-border-color: black;
}

GridPane:pressed{
    -fx-border-width: 2;
    -fx-border-color: green;
}


ImageView{
    -fx-alignment: center;
    -fx-background-repeat: stretch;
    /*-fx-fit-to-height: true;*/
    /*-fx-fit-to-width: true;*/
    /*-fx-max-width: 50;*/
}

.progress-bar > .bar {
    -fx-background-insets: 1 3 2 3;
    -fx-padding: 0.35em;
}

